body {
    background: #aaa;
}

#game-wrap {
    position: relative;
}

.party-wrap {
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    font-family: monospace;
    width: 320px;
    height: 100px;
    border: 3px solid #ececec;
    background: blue;
    top: 380px;
}

.enemy-wrap {
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    font-family: monospace;
    width: 320px;
    height: 100px;
    border: 3px solid #ececec;
    background: blue;
    top: 380px;
    left: 320px;
}

.action-wrap {
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    font-family: monospace;
    width: 320px;
    height: 100px;
    border: 3px solid #ececec;
    background: blue;
    top: 380px;
    left: 320px;
}

.hide-menu {
    display: none;
}

.entity-status {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.entity-status .name {
    width: 55%;
}

.entity-status .mp {
    width: 20%;
}

.entity-status .hp {
    width: 25%;
}

.action-status {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
}

.action-status td {
    width: 50%;
}

.action-status td:hover {
    background: #0303a5;
    cursor: pointer;
}